*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
display:flex;
 margin:2em;
 border: 10px solid #f0f0f0;
 padding: 1em;
}


.action-like {
    float:right;
    color:red
}

.film-poster {
    position:relative;
    flex:1;
    margin:1em;


}

i.fa.fa-2x.fa-clock-o {
    position:absolute;
    top:0.25em;
    right:0.25em;
    color:red;
    font-size:5em
}


.film-details .action-like {
margin-top:25em;
}

.film-details {
  flex:1;
}
h1.film-title {
    margin-top:5em;
    font-size:2em

}

p.film-description {
    font-size:1.5em
}
